<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Acknowledgements</h5>
    <p class="card-text">Special thanks to Emily Vladoiu for contributing items to this collection. Feel free to download and save images from this site, however creator assumes no responsibility for how the images are used. Please research use terms for the individual currency before using. For more information, see [Rights](https://mvladoiu.github.io/threegenerationsofcoincollecting/rights.html)</p>
  </div>
</div>
